.block {
  margin-bottom: var(--margin-bottom-l);
}

.actorsBlock {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  column-gap: 40px;

  @media (max-width: 1280px) {
    grid-template-columns: repeat(5, 1fr);
  }
}

.photo {
  width: 100px;
  height: 150px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.title {
  margin-bottom: var(--margin-bottom-m);
}

.content {
  margin-bottom: var(--margin-bottom-s);
}