.pagination {
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
}

.pageBtn {
  transition: color 0.3s ease, background-color 0.3s ease;

  &.selected {
    background-color: #36395A;
    color: white;
  }
}