:root {
  --filterWidth: 600px;
  --filterWidth-s: 250px;
  --filtersColumnGap: 20px;
  --filterSelect: 40px;
  --filtersGroupWidth: calc(var(--filterWidth) + var(--filtersColumnGap) + var(--filterSelect));
  --filtersGroupWidth-s: calc(var(--filterWidth-s) + var(--filtersColumnGap) + var(--filterSelect));
  --margin-bottom-l: 80px;
  --margin-bottom-m: 60px;
  --margin-bottom-s: 40px;
}

body {
  font-family: "JetBrains Mono",monospace;
}

a {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

section {
  padding: 40px 20px 80px;
}

p {
  margin: 0 0 1.5em;

  &:last-child {
    margin: 0;
  }
}